body {


    height: 100vh;
    
    background: linear-gradient(to bottom left,#2e3add ,#0a0a0a);
    
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
   }
.header {
    text-align: center;
    border-bottom: #fff solid 1px;
}
.home {
    float: right;
    padding-top: 0.5cm;
    padding-right: 1cm;

}
.foto {
    float: left;
    margin-top: 2cm;
    margin-left: 1cm;
    padding-right: 0.5cm;
    
}
.foto img {
    width: 500px;
    height:300px;

}
 .Text {
    padding-top: 2cm;
    padding-right:  0.75cm;

    text-align: right;
    direction: rtl;
    font-size: 19px;
 }

 .table {
    float: center;
    margin-top: 2cm;
 }