body {


    height: 100vh;
    
    background: linear-gradient(to bottom left,#2e3add ,#0a0a0a);
    
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
   }
.header {
    text-align: center;
    border-bottom: #fff solid 1px;
}
.home {
    float: right;
    padding-top: 0.5cm;
    padding-right: 1cm;

}
.home2{
    float: right;
    padding-top: 0.5cm;
    padding-right: 1cm;

}
.foto {
    float: left;
    margin-top: 2cm;
    margin-left: 1cm;
    padding-right: 0.5cm;
    
}
.foto img {
    width: 400px;
    height:250px;
    object-fit: fill;

}
.text {
    text-align: right;
    direction: rtl;
    margin-right: 1.5cm;
    margin-top: 5%;
    
    
   
    font-size: 20px;
}
.text .container1 {
    width: 75%;
}
p{
    color: aliceblue;
}
h1 {
    color: aliceblue;
}

.flag1 {
    float: right;
    width: 80%;
    margin-top: 5cm;
    margin-right: 4cm;
    margin-bottom: 3cm;
}